{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Custom Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" >

    <!-- Icon -->
    <link rel="icon" href="{% static 'img/covidLogo.png' %}" type="image/png">

    <title>Covid19 Tracker</title>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://rapidapi-prod-collections.s3.amazonaws.com/1934d868-b8b9-40bf-a3a0-a978f007f89d.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          <span class="text-danger">Covid-19</span>  Statistics over the World 
        </a>
      </div>
    </nav>
    <div class="container mt-4 mr-0">

   
       
          <form class="row g-2 mt-4" action="" method="post">
            {% csrf_token %}
            <div class="row">

              <div class="col-md-6">
                <select class="form-control mb-3 " name="countries" id="countries">
                  {% for country in countryList %}
                  <option value="{{ country }}">{{ country }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <input  class="btn btn-danger" type="submit" value="Submit">
              </div>
            </div>
          </form> 
 
      <h4 class="text-info">
        Country Selected : {{selectedCountry}}
      </h4>

      <div class="row ml-2">

        <div class="col-md-2 box bg-light">
          <h1>{{totalCases}}</h1>
          <p>
            Total Case   
          </p>
        </div>
        <div class="col-md-2 box bg-primary text-light">
          <h1>{{newCases}}</h1>
          <p>
            New Case   
          </p>
        </div>
        <div class="col-md-2 box  bg-secondary text-white">
          <h1>{{activeCases}}</h1>
          <p>
            Active Case  
          </p>
        </div>
        <div class="col-md-2 box  bg-warning">
          <h1>{{criticalCases}}</h1>
          <p>
            Critical Case  
          </p>
        </div>
        <div class="col-md-2 box bg-success text-light">
          <h1>{{recoveredCases }}</h1>
          <p>
            Recovered Case  
          </p>
        </div>
        <div class="col-md-2  box bg-danger">
         <h1>{{deathCases}}</h1> 
          <p>
            Death Case 
          </p> 
        </div>
 
      </div>

      <br><br><br><br><br>
      <div class="space"></div>
     
      <p class="text-white mt-4 text-center">Developed by Fitsum A. @2021</p>
   
    </div>

   




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>